In [29]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import  lxml.html as html
import re

In [3]:
#The url of wikipedia page
url = 'https://en.wikipedia.org/wiki/Demographics_of_Toronto_neighbourhoods'

In [4]:
r = requests.get(url)

In [6]:
#If code ==200, we have a correct response from the url.
r.status_code==200

True

In [13]:
#Scraping the website
soup = BeautifulSoup(r.text, 'lxml')

In [21]:
tables = soup.find_all("table",attrs = {'class':'wikitable'})
print('Number of tables', len(tables))

Number of tables 5

In [39]:
east_york = tables[0]

In [40]:
body = east_york.find_all('tr')

In [41]:
#Columns names are the first item of the body list
head = body[0]

In [26]:
#Declare empty list to keep columns names
headings = []
for item in head.find_all('th'):
    item = (item.text).rstrip('\n')
    #append the clean colummn name to headings
    headings.append(item)
print(headings)

['Name', 'FM', 'Census Tracts', 'Population', 'Land area (km2)', 'Density (people/km2)', '% Change in Population since 2001', 'Average Income', 'Transit Commuting\xa0%', '% Renters', 'Second most common language (after English) by name', 'Second most common language (after English) by percentage', 'Map']

In [35]:
all_rows = [] # will be a list for list for all rows
# Now loop for the other loops
for i in range(len(tables)):
    table = tables[i]
    body = table.find_all('tr')
    body_rows = body[1:]
    for row_num in range(len(body_rows)): # A row at a time
        row = [] # this will old entries for one row
        for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
            # row_item.text removes the tags from the entries
            # the following regex is to remove \xa0 and \n and comma from row_item.text
            # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
            aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
            #append aa to row - note one row entry is being appended
            row.append(aa)
        # append one row to all_rows
        all_rows.append(row)

In [36]:
# We can now use the data on all_rowsa and headings to make a table
# all_rows becomes our data and headings the column names
df = pd.DataFrame(data=all_rows,columns=headings)
df.head()

,Name,FM,Census Tracts,Population,Land area (km2),Density (people/km2),% Change in Population since 2001,Average Income,Transit Commuting %,% Renters,Second most common language (after English) by name,Second most common language (after English) by percentage,Map
0,Crescent Town,EY,0190.01,8157,0.4,20393,-10.0,23021,24.5,20.3,Bengali (18.1%),18.1% Bengali,
1,Governor's Bridge/Bennington Heights,EY,0186.00,2112,1.87,1129,4.0,129904,7.1,13.3,Polish (1.4%),01.4% Polish,
2,Leaside,EY,0195.00 0196.00,13876,2.81,4938,3.0,82670,9.7,10.5,Bulgarian (0.4%),00.4% Bulgarian,
3,O'Connor–Parkview,EY,0189.00 0190.02 0191.00 0192.00 0193.00,17740,4.94,3591,-6.1,33517,15.8,19.4,Urdu (3.2%),03.2% Urdu,
4,Old East York,EY,0180.00 0181.01 0181.02 0182.00 0183.00 0184.0...,52220,7.94,6577,-4.6,33172,22.0,19.1,Greek (4.3%),04.3% Greek,

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 13 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Name                                                       177 non-null    object
 1   FM                                                         177 non-null    object
 2   Census Tracts                                              177 non-null    object
 3   Population                                                 177 non-null    object
 4   Land area (km2)                                            177 non-null    object
 5   Density (people/km2)                                       177 non-null    object
 6   % Change in Population since 2001                          177 non-null    object
 7   Average Income                                             177 non-null    object
 8   Transit Commuting %                                        177 non-null    object
 9   % Renters                                                  177 non-null    object
 10  Second most common language (after English) by name        177 non-null    object
 11  Second most common language (after English) by percentage  177 non-null    object
 12  Map                                                        177 non-null    object
dtypes: object(13)
memory usage: 18.1+ KB

In [48]:
#Use

174